In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame([[1.4,np.nan],[7.1,-4.5],[np.nan,np.nan],[0.75,-1.3]],index=['a','b','c','d'],
                  columns=['one','two'])
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [3]:
# 调用DataFrame的sum方法将会返回一个含有列的和的Series
df.sum()

one    9.25
two   -5.80
dtype: float64

In [4]:
# 传入axis='columns'或axis=1将会按行进行求和运算：
df.sum(axis=1)

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [5]:
# NA值会自动被规定为0，除非整个切片（这里指的是行或列）都是NA。通过skipna选
# 项可以禁用该功能：
df.sum(axis=1,skipna=False)

a     NaN
b    2.60
c     NaN
d   -0.55
dtype: float64

In [6]:
df.idxmax()
# 方法（如idxmin和idxmax）返回的是间接统计（比如达到最小值或最大值的索引）

one    b
two    d
dtype: object

In [7]:
df.cumsum()
# 累计型函数

    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8

In [8]:
df.cumsum(axis=1)

    one   two
a  1.40   NaN
b  7.10  2.60
c   NaN   NaN
d  0.75 -0.55

In [9]:
df.describe()

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

In [10]:
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [11]:
df.describe().loc["mean"]

one    3.083333
two   -2.900000
Name: mean, dtype: float64

In [12]:
obj = pd.Series(['a','a','b','c'] * 4)
obj

0     a
1     a
2     b
3     c
4     a
5     a
6     b
7     c
8     a
9     a
10    b
11    c
12    a
13    a
14    b
15    c
dtype: object

In [13]:
# 对于非数值型数据，describe会产生另外一种汇总统计
obj.describe()

count     16
unique     3
top        a
freq       8
dtype: object

# 描述与汇总统计
count：非NA值的数量

var:样本值的方差

std:标准差

cumprod:累计积

pct_change 计算百分数变化

相关系数与协方差

In [14]:
import pandas_datareader.data as web
all_data = {ticker:web.get_data_yahoo(ticker) for ticker in
            ["AAPL",'IBM','MSFT','GOOG']}
all_data.keys()

dict_keys(['AAPL', 'IBM', 'MSFT', 'GOOG'])

In [15]:
all_data.values()

dict_values([                  High         Low        Open       Close       Volume  \
Date
2015-09-08   28.139999   27.580000   27.937500   28.077499  219374400.0
2015-09-09   28.504999   27.442499   28.440001   27.537500  340043200.0
2015-09-10   28.320000   27.475000   27.567499   28.142500  251571200.0
2015-09-11   28.552500   27.940001   27.947500   28.552500  199662000.0
2015-09-14   29.222500   28.715000   29.145000   28.827499  233453600.0
...                ...         ...         ...         ...          ...
2020-08-31  131.000000  126.000000  127.580002  129.039993  225702700.0
2020-09-01  134.800003  130.529999  132.759995  134.179993  152470100.0
2020-09-02  137.979996  127.000000  137.589996  131.399994  200119000.0
2020-09-03  128.839996  120.500000  126.910004  120.879997  254723200.0
2020-09-04  123.699997  110.889999  120.070000  120.959999  332607163.0

             Adj Close
Date
2015-09-08   25.946814
2015-09-09   25.447792
2015-09-10   26.006878
2015-09-11   26.385771
2015-09-14   26.639898
...                ...
2020-08-31  129.039993
2020-09-01  134.179993
2020-09-02  131.399994
2020-09-03  120.879997
2020-09-04  120.959999

[1259 rows x 6 columns],                   High         Low        Open       Close     Volume  \
Date
2015-09-08  147.339996  145.660004  145.860001  147.229996  3933300.0
2015-09-09  149.039993  144.850006  148.740005  145.050003  3407800.0
2015-09-10  147.160004  144.509995  145.850006  146.199997  3461700.0
2015-09-11  147.500000  145.669998  145.910004  147.369995  3115100.0
2015-09-14  147.369995  145.410004  147.369995  145.649994  3226700.0
...                ...         ...         ...         ...        ...
2020-08-31  125.250000  123.029999  125.250000  123.309998  4827900.0
2020-09-01  123.949997  122.150002  122.849998  123.400002  3155300.0
2020-09-02  128.699997  123.580002  123.720001  128.179993  6592400.0
2020-09-03  129.949997  123.650002  128.190002  124.449997  5711000.0
2020-09-04  125.349998  121.239998  124.349998  122.300003  5851861.0

             Adj Close
Date
2015-09-08  117.901871
2015-09-09  116.156136
2015-09-10  117.077080
2015-09-11  118.013985
2015-09-14  116.636604
...                ...
2020-08-31  123.309998
2020-09-01  123.400002
2020-09-02  128.179993
2020-09-03  124.449997
2020-09-04  122.300003

[1259 rows x 6 columns],                   High         Low        Open       Close      Volume  \
Date
2015-09-08   44.000000   43.200001   43.299999   43.889999  32469800.0
2015-09-09   44.400002   42.910000   44.209999   43.070000  33469500.0
2015-09-10   43.790001   42.750000   43.119999   43.290001  31366600.0
2015-09-11   43.590000   42.939999   43.139999   43.480000  27132500.0
2015-09-14   43.439999   42.860001   43.430000   43.040001  23656000.0
...                ...         ...         ...         ...         ...
2020-08-31  228.699997  224.309998  227.000000  225.529999  28774200.0
2020-09-01  227.449997  224.429993  225.509995  227.270004  25791200.0
2020-09-02  232.860001  227.350006  227.970001  231.649994  34080800.0
2020-09-03  229.309998  214.960007  229.270004  217.300003  58148900.0
2020-09-04  218.359894  205.190002  215.100006  214.250000  56783337.0

             Adj Close
Date
2015-09-08   39.887024
2015-09-09   39.141819
2015-09-10   39.341743
2015-09-11   39.514427
2015-09-14   39.114552
...                ...
2020-08-31  225.529999
2020-09-01  227.270004
2020-09-02  231.649994
2020-09-03  217.300003
2020-09-04  214.250000

[1259 rows x 6 columns],                    High          Low         Open        Close   Volume  \
Date
2015-09-08   616.309998   604.119995   612.489990   614.659973  2279500
2015-09-09   626.520020   609.599976   621.219971   612.719971  1702100
2015-09-10   624.159973   611.429993   613.099976   621.349976  1905300
2015-09-11   625.780029   617.419983   619.750000   625.770020  1373500
2015-09-14   625.859985   619.429993   625.700012   623.239990  1702300
...                 ...          ...          ...          ...      ...
2020-08-31  1647.964966  1630.310059  1647.890015  1634.180054  1823400
2020-09-01  1665.729980  1632.219971  1636.630005  1660.709961  1826700
2020-09-02  1733.180054  1666.329956  1673.775024  1728.280029  2511200
2020-09-03  1709.713989  1615.060059  1709.713989  1641.839966  3100800
2020-09-04  1645.109985  1547.612549  1624.260010  1591.040039  2608568

              Adj Close
Date
2015-09-08   614.659973
2015-09-09   612.719971
2015-09-10   621.349976
2015-09-11   625.770020
2015-09-14   623.239990
...                 ...
2020-08-31  1634.180054
2020-09-01  1660.709961
2020-09-02  1728.280029
2020-09-03  1641.839966
2020-09-04  1591.040039

[1259 rows x 6 columns]])

In [16]:
price = pd.DataFrame({ticker:data['Adj Close'] for ticker,data in all_data.items() })
price

                  AAPL         IBM        MSFT         GOOG
Date
2015-09-08   25.946814  117.901871   39.887024   614.659973
2015-09-09   25.447792  116.156136   39.141819   612.719971
2015-09-10   26.006878  117.077080   39.341743   621.349976
2015-09-11   26.385771  118.013985   39.514427   625.770020
2015-09-14   26.639898  116.636604   39.114552   623.239990
...                ...         ...         ...          ...
2020-08-31  129.039993  123.309998  225.529999  1634.180054
2020-09-01  134.179993  123.400002  227.270004  1660.709961
2020-09-02  131.399994  128.179993  231.649994  1728.280029
2020-09-03  120.879997  124.449997  217.300003  1641.839966
2020-09-04  120.959999  122.300003  214.250000  1591.040039

[1259 rows x 4 columns]

In [17]:
volume = pd.DataFrame({ticker:data["Volume"] for ticker,data in all_data.items()})
volume

                   AAPL        IBM        MSFT     GOOG
Date
2015-09-08  219374400.0  3933300.0  32469800.0  2279500
2015-09-09  340043200.0  3407800.0  33469500.0  1702100
2015-09-10  251571200.0  3461700.0  31366600.0  1905300
2015-09-11  199662000.0  3115100.0  27132500.0  1373500
2015-09-14  233453600.0  3226700.0  23656000.0  1702300
...                 ...        ...         ...      ...
2020-08-31  225702700.0  4827900.0  28774200.0  1823400
2020-09-01  152470100.0  3155300.0  25791200.0  1826700
2020-09-02  200119000.0  6592400.0  34080800.0  2511200
2020-09-03  254723200.0  5711000.0  58148900.0  3100800
2020-09-04  332607163.0  5851861.0  56783337.0  2608568

[1259 rows x 4 columns]

In [18]:
returns = price.pct_change()
returns.tail() #获取后五行

                AAPL       IBM      MSFT      GOOG
Date
2020-08-31  0.033912 -0.014072 -0.014766 -0.006221
2020-09-01  0.039833  0.000730  0.007715  0.016234
2020-09-02 -0.020718  0.038736  0.019272  0.040687
2020-09-03 -0.080061 -0.029100 -0.061947 -0.050015
2020-09-04  0.000662 -0.017276 -0.014036 -0.030941

Series的corr方法用于计算两个Series中重叠的、非NA的、按索引对齐的值的相关
系数。与此类似，cov用于计算协方差

In [19]:
returns['AAPL'].corr(returns['IBM'])

0.5019011763793945

In [20]:
returns['AAPL'].cov(returns['IBM'])

0.0001484833892255038

In [21]:
# DataFrame的corr和cov方法将以DataFrame的形式分别返回完整的相关
# 系数或协方差矩阵
returns.corr()

          AAPL       IBM      MSFT      GOOG
AAPL  1.000000  0.501901  0.698478  0.651976
IBM   0.501901  1.000000  0.580395  0.537152
MSFT  0.698478  0.580395  1.000000  0.781827
GOOG  0.651976  0.537152  0.781827  1.000000

In [22]:
returns.cov()

          AAPL       IBM      MSFT      GOOG
AAPL  0.000341  0.000148  0.000224  0.000198
IBM   0.000148  0.000257  0.000162  0.000142
MSFT  0.000224  0.000162  0.000301  0.000223
GOOG  0.000198  0.000142  0.000223  0.000271

DataFrame的corrwith方法，你可以计算其列或行跟另一个Series或DataFrame
之间的相关系数。传入一个Series将会返回一个相关系数值Series（针对各列进行
计算）

In [23]:
returns.corrwith(returns['IBM'])

AAPL    0.501901
IBM     1.000000
MSFT    0.580395
GOOG    0.537152
dtype: float64

In [24]:
# 传入一个DataFrame则会计算按列名配对的相关系数。这里，我计算百分比变化与
# 成交量的相关系数
returns.corrwith(volume)

AAPL   -0.100658
IBM    -0.098690
MSFT   -0.053060
GOOG   -0.150852
dtype: float64

传入axis='columns'即可按行进行计算。无论如何，在计算相关系数之前，所有的
数据项都会按标签对齐

# 唯一值，值计数，成员资格

In [28]:
obj = pd.Series(['a','s','a','b','a','c'])
obj
uniques = obj.unique()
uniques

array(['a', 's', 'b', 'c'], dtype=object)

In [30]:
# value_counts用于计算一个Series中各值出现的频率
obj.value_counts()

a    3
s    1
c    1
b    1
dtype: int64

In [34]:
# isin用于判断矢量化集合的成员资格，可用于过滤Series中或DataFrame列中数据的子集：
mask = obj.isin(['b','c'])
mask

0    False
1    False
2    False
3     True
4    False
5     True
dtype: bool

In [36]:
obj[mask]

3    b
5    c
dtype: object

In [39]:
# Index.get_indexer方法，它可以给你一个索引数组，从可能包含重
# 复值的数组到另一个不同值的数组
unique_vals = pd.Series(['c','b','a'])
pd.Index(unique_vals).get_indexer(obj)

array([ 2, -1,  2,  1,  2,  0], dtype=int64)

In [43]:
data = pd.DataFrame({'qu1':[1,3,4,3,4],'qu2':[2,3,1,2,3]
                     ,'qu3':[1,5,2,4,4]})
data

   qu1  qu2  qu3
0    1    2    1
1    3    3    5
2    4    1    2
3    3    2    4
4    4    3    4

In [48]:
result = data.apply(pd.value_counts).fillna(0)
result

   qu1  qu2  qu3
1  1.0  1.0  1.0
2  0.0  2.0  1.0
3  2.0  2.0  0.0
4  2.0  0.0  2.0
5  0.0  0.0  1.0

结果中的行标签是所有列的唯一值。后面的频率值是每个列中这些值的相应
计数。